//
// RTCWPro Default Competition
//
// !!! IMPORTANT NOTE !!!
// Ensure all values are surrounded by quotes, the parser can't properly deal with negative values otherwise.

configname "^1TEST, DO NOT USE"

// vanilla
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
// RTCWPro
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
// stats
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
// General
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
// Match specific
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
setaseta g_showHeadshotRatio '1' // edited by pudibot
